<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="https://www.freelogoservices.com/api/main/images/1j+ojFVDOMkX9Wytexe43D6kifKDrx5GmRrNwXs1M3EMoAJtlSkqhvJt9vw..."
            alt="">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="new">New</a>
                </li>
                <li class="nav-item">
                    <select class="btn btn-light btn-sm dropdown-toggle" id="categorias">
                        <option hidden selected>Categoria</option>
                        <option value="objetivos">Objetivos</option>
                        <option value="consejos">Consejos</option>
                        <option value="modelso">Modelos</option>
                        <option value="accesorios">Accesorios</option>
                        <option value="retratos">Retratos</option>
                    </select>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>






    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>