<div class="album py-5 bg-light">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Filtrar por: </label>
        </div>
        <!-- 
        <select class="custom-select col-md-6" id="inputGroupSelect01" [(ngModel)]='value' (change)="onFiltro(value)">
            <option selected value="todos">Todos...</option>
            <option value="objetivos">Objetivos</option>
            <option value="consejos">Consejos</option>
            <option value="modelos">Modelos</option>
            <option value="accesorios">Accesorios</option>
            <option value="retratos">Retratos</option>
        </select> -->



        <select class="custom-select col-md-6" id="inputGroupSelect01" (change)="onFiltro($event)">
            <option selected value="todos">Todos...</option>
            <option value="objetivos">Objetivos</option>
            <option value="consejos">Consejos</option>
            <option value="modelos">Modelos</option>
            <option value="accesorios">Accesorios</option>
            <option value="retratos">Retratos</option>
        </select>





    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 card-deck my-3" *ngFor="let post of posts">
                <div class="card text-white bg-dark">
                    <img [src]="post.imagen" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{post.titulo}}</h4>
                        <p class="card-text">{{post.texto}}</p>
                        <small class="text-info d-flex align-items-end">{{post.autor}}</small>
                    </div>
                    <div class="card-footer bg-secondary">
                        <small class="text-light d-flex justify-content-end">{{post.fecha}}</small>
                        <div>
                            <div class="categoria" [ngSwitch]="post.categoria">
                                <img src="assets/sombrilla.svg" *ngSwitchCase="'objetivos'">
                                <img src="assets/web.svg" *ngSwitchCase="'consejos'">
                                <img src="assets/mujer.svg" *ngSwitchCase="'modelos'">
                                <img src="assets/temporizador.svg" *ngSwitchCase="'accesorios'">
                                <img src="assets/camara.svg" *ngSwitchCase="'retratos'">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>